<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edu.mapper.LightMapper">
    <select id="getNewData" resultType="com.edu.entity.Light">
        select * from light order by createtime desc limit 1
    </select>
</mapper>
